.containerleden {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    grid-template-areas:
        "logo header header"
        "nav leden leden"
        "footer footer footer";
}

.containerst {
  display: grid;
  height: 105vh;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 0.4fr 1fr 0.2fr;
  grid-template-areas:
      "logo header"
      "nav leden"
      "footer footer";
}

header {
    display: grid;
    grid-area: header;
    justify-content: center;
    align-items: center;
}

nav {
    display: grid;
    grid-area: nav;
    width: 100%;   
}
a {
    text-decoration: none;
}


footer {
    display: grid;
    grid-area: footer;
    background-color: dimgray;
    grid-template-columns: 1fr 1fr 1fr;
}

.partijlogo {
    width: 12vw;
    height: 8.5vh;
}

#logo {
    display: grid;
    grid-area: logo;
    align-items: center;
}

.containerleed{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.containerthemas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerstandpunt{
  height: fit-content;
  width: fit-content;
  justify-self: center;
  margin-bottom: 30px;
  grid-area: leden;
}


.standpunt {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  -webkit-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
   box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
  
}

#imgleden{
    object-fit: cover;
    width: 300px;
    height: 300px;
    max-width: 100%;
}

.create{
    display: grid;
    align-content: center;
    justify-content: center;
}

body.createpage{
    background-image: url(../Webpage/images/background.jpg);
}

body.ledenpage{
    background-image: url(../Webpage/images/background.jpg);
}

body.standpuntpage{
    background-image: url(../Webpage/images/background.jpg);
}
.sidenav {
    height: 100%;
    width: 100%;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
 
  }
  
  .sidenav a:hover{
    color:red;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  

  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  #nieuwsbericht,#nieuwsbericht1{
    text-align: center;
    color: red;
  }
  .doneerknop {
    grid-column: 3;
    width: 10vw;
    height: 5vh;
    background-color: red;
    color: white;
    margin-top: 2%;
    justify-self: right;
    text-align: center;
    text-decoration: none;
  }
  .copyright {
    grid-column: 2;
    text-align: center;
    text-decoration: none;
  }


  @media only screen and (max-width: 700px) {
    body {
      /* Tablet-specific styles for body */
      background-color: lightblue;
    }

    .containerleed{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    .standpunt {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: red;
      -webkit-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
      box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
  }
    

    form{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
}


@media only screen and (max-width: 500px) {
    body {
      /* Tablet-specific styles for body */
      background-color: lightblue;
    }
  
    .containerleden {
        display: grid;
        height: 100vh;
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: 0.4fr 1fr 0.4fr;
        grid-template-areas:
            "logo header header"
            "nav leden leden"
            "footer footer footer";
    }

    .containerleed{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    #logo {
        display: grid;
        grid-area: logo;
        align-items: center;
        justify-items: center;
    }

    form{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    
}