html, body {
  width: 100%;
  height: 105vh; /* 100% of the viewport height */
  margin: 0;
}

body {
    background-color: white;
    background-image: url(./images/background.jpg);
    background-size: cover;
    margin: 0;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.4fr;
    grid-template-areas:
        "logo header header"
        "nav calltoaction1 calltoaction2"
        "nav imagecontainer1 imagecontainer2"
        "nav nieuwsbericht nieuwsbericht"
        "footer footer footer";
}

.containernieuws {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 0.4fr auto 0.4fr;
    grid-template-areas:
        "logo header header"
        "nav nieuws nieuws"
        "nav nieuws nieuws"
        "footer footer footer";
}


header {
    display: grid;
    grid-area: header;
    text-align: center;
    color: red;
}

nav {
    display: grid;
    grid-area: nav;
    width: 100%;   
}


h1{
    text-align: center;
}

#calltoaction2,#calltoaction1{
  -webkit-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
   box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
   margin-left: 20px;
   overflow: hidden;
   min-height: 500px;
   
}


#calltoaction1 img {
  transition: all 0.4s ease-in-out;
}
#calltoaction1:hover img {
  transform: scale(1.1);
}

#calltoaction2 img {
  transition: all 0.4s ease-in-out;
}
#calltoaction2:hover img {
  transform: scale(1.1);
}

#itemcontainer1,#itemcontainer2{
  -webkit-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
   box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
   margin-left: 20px;
   overflow: hidden;
   min-height: 600px;
   
}


#nieuwscontainer {
    display: flex;
    grid-area: nieuwsbericht;
    justify-content: space-around;
}

.nieuws_item_container{
  -webkit-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
   box-shadow: -2px -5px 66px -5px rgba(0,0,0,0.75);
   margin-right: 20px;
   margin-bottom: 20px;
   
}

a {
    text-decoration: none;
}

.footer {
    display: grid;
    grid-area: footer;
    background-color: dimgray;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}

.partijlogo {
    width: 15vw;
    height: 8.5vh;
    object-fit: contain;
}


#logo {
    display: grid;
    grid-area: logo;
    align-items: center;
}

.cafoto {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.cafoto2 {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.text-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.text-container2 {

    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
  
}

.sidenav {
    height: 100%;
    width: 100%;

    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
 
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .nb{
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  .nb1 {
    width: 100%;
    height: 80%;
    transition: all 0.4s ease-in-out;
  }
  .nb2 {
    width: 100%;
    height: 80%;
    transition: all 0.4s ease-in-out;
  }

  .nb1:hover {
    transform: scale(1.1);
  }

  .nb2:hover {
    transform: scale(1.1);
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  

  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }

   .nieuwsbericht{
    text-align: center;
    color: red;
   }

  .doneerknop {
    grid-column: 3;
    width: 10vw;
    height: 5vh;
    background-color: red;
    color: white;
    margin-top: 2%;
    justify-self: right;
    text-align: center;
    text-decoration: none;
  }
  .copyright {
    grid-column: 2;
    text-align: center;
    text-decoration: none;
  }

  #leden{
    display: inline-flex;
  }


  /* Styles for tablets */
@media only screen and (max-width: 800px) {
    body {
      /* Tablet-specific styles for body */
      background-color: lightblue;
    }
  
    .container {
      /* Tablet-specific styles for container */
      display: grid;
      height: auto;
      grid-template-columns: 0.3fr 1fr 1fr;
      grid-template-rows: 0.4fr 1fr 1fr 0.4fr;
      grid-template-areas:
          "logo header header"
          "nav calltoaction1 calltoaction2"
          "nav imagecontainer imagecontainer"
          "nav nieuwsbericht nieuwsbericht"
          "footer footer footer";
    }

    .containernieuws {
      display: grid;
      height: 100vhl;
      grid-template-columns: 0.3fr 1fr 1fr;
      grid-template-rows: 0.4fr auto 0.4fr;
      grid-template-areas:
          "logo header header"
          "nav nieuws nieuws"
          "nav nieuws nieuws"
          "footer footer footer";
  }
  

    .cafoto2,.cafoto {
      width: 100%;
      height: 70%;
  }

  .nb1,.nb2{
    width: 100%;
    margin-top: 50px;
  }

  .nieuwsbericht {
    text-align: center;
    color: red;
    margin-bottom: 450px;
}

  
}


@media only screen and (max-width: 500px) {
    body {
      /* Tablet-specific styles for body */
      background-color: lightblue;
    }
  
    .container {
      /* Tablet-specific styles for container */
      display: grid;
      height: 200ch;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "logo header"
      "nav main1"
      "nav main2"
      "nav main3"
      "nav main4"
      "footer footer";
      
    }

    .containernieuws {
      /* Tablet-specific styles for container */
      display: grid;
      height: 100vh;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "logo header"
      "nav main1"
      "nav main2"
      "nav main3"
      "nav main4"
      "footer footer";
      
    }

    #logo {
        display: grid;
        grid-area: logo;
        align-items: center;
    }

    header {
        display: grid;
        grid-area: header;
        text-align: center;
        color: red;
    }   
    
    nav {
        display: grid;
        grid-area: nav;
        width: 100%;   
    }

    #calltoaction1 {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-area: main1;
      }

    #calltoaction2{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-area: main2;
    }

    #imagecontainer{
        display: flex;
        flex-direction: column;
        grid-area: main3;
        margin-bottom: 100px;
    }

    #nieuwsbericht{
      margin-bottom: 100px;
    }

    #logo {
        display: grid;
        grid-area: logo;
        align-items: center;
        justify-items: center;
    }
      
    .nieuws_item_container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .nieuwsbericht {
      text-align: center;
      color: red;
      margin-bottom: 1px;
  }


}
