body {
    background-color: white;
    height: 100vh;

}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.4fr;
    grid-template-areas:
        "logo header header"
        "nav calltoaction1 calltoaction2"
        "nav nieuwsbericht1 nieuwsbericht2"
        "footer footer footer";
}

header {
    display: grid;
    grid-area: header;
<<<<<<< HEAD
    background-color: white;
=======
    /* background-color: brown; */
 
    text-align: center;
>>>>>>> ae098b3a606c106ed7e3338a5eb2e8e04facfd2f
}

nav {
    display: grid;
    grid-area: nav;
    justify-content: start;
    
}

#calltoaction1 {
    display: grid;
    grid-area: calltoaction1;
 
}

#calltoaction2 {
    display: grid;
    grid-area: calltoaction2;

}

#nieuwsbericht1 {
    display: grid;
    grid-area: nieuwsbericht1;
 
}

#nieuwsbericht2 {
    display: grid;
    grid-area: nieuwsbericht2;
  
}

footer {
    display: grid;
    grid-area: footer;
    background-color: gray;
}


.partijlogo {
    width: 12vw;
    height: 8.5vh;
}


#logo {
    display: grid;
    grid-area: logo;
    align-items: center;
}

.cafoto {
    height: 350px;
    width: 100%;
    z-index: -1;

}

.text-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.text-container2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.menu {
    list-style-type: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#nieuwsbericht1 {
width: 100%;
height: 100%;
}

